<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Strive Blog</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; background-color: #00cc66;">


    <div
        style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">

        <div style="text-align: left; margin: 20px;">
            <img src="https://d1hbpr09pwz0sk.cloudfront.net/logo_url/strive-school-a0599d22" alt="Logo" width="150">
        </div>
        <div style="text-align: center;">
            <h1 style="color: #00cc66;">Welcome to Strive Blog</h1>
        </div>

        <p>Dear {{ username }},</p>
        <p>Welcome to Strive Blog! We are excited that you have registered and we warmly welcome you to our community.
            We hope you will have an exceptional and rewarding experience during your time with us.</p>

        <p>Strive Blog offers a platform to share your thoughts, connect with like-minded individuals, and engage in
            meaningful discussions. We encourage you to explore the various features and functionalities of our blog to
            make the most out of your experience.</p>

        <p>If you have any questions or need assistance, feel free to reach out to us. Our team is always ready to help
            you.</p>

        <p>As the admin of Strive Blog, I personally welcome you to our community. We look forward to seeing your
            contributions and engaging with you.</p>


        <div style="text-align: center;">
            <p>Best regards,</p>
            <p>Samuel Carrubba</p>
            <p>Admin, Strive Blog</p>
        </div>

    </div>

</body>

</html>