.login-root {
  background-image: url('./logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 50px;
}
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.687);
    backdrop-filter: blur(40px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: waves 0.5s ease-in-out;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  

  .login-root input {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 15px;

  }
  

  .alertlogin{
    animation: ombra 0.5s ease-in-out;
  }

  .googlebutton{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.126);
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .googlebutton:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .facebookbutton{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.126);
    background-color: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
  } 
  hr{
width: 100%;
  }
  
  .facebookbutton:hover{
    background-color: #fff;
    border: 1px solid #3b5998;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #3b5998;
  }

  @keyframes ombra {
    0% {
     transform: translateX(-10px);
     opacity: 0;
    }
    25% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    50% {
      transform: translateX(-10px);
      opacity: 0.75;
    }
    75% {
      transform: translateX(10px);
      opacity: 0.9;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      
    }
  }

  @keyframes waves {
    0% {
     transform: translateY(-10px);
     opacity: 0;
    }
    25% {
      transform: translateY(10px);
      opacity: 0.5;
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.75;
    }
    75% {
      transform: translateY(10px);
      opacity: 0.9;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }