body {
  font-family: 'DM Sans', sans-serif;
}

.sr-only{
  display: none;
}

.pagination{
    --bs-pagination-active-color: none;
    --bs-pagination-active-bg: none;
    --bs-pagination-active-border-color: none;
}

.page-link{
  color: #000;
}